[submodule "madhabits"]
	path = madhabits
	url = git@bitbucket.org:superterran/madhabits.git
[submodule "jekyll"]
	path = jekyll
	url = git@github.com:superterran/jekyll.git

[submodule "lyricpimp"]
	path = lyricpimp
	url = git@github.com:superterran/lyricpimp.git
