[submodule "jekyll/demos/Legend-of-Canvas"]
	path = jekyll/demos/Legend-of-Canvas
	url = git@github.com:superterran/Legend-of-Canvas.git
        branch = qunit
[submodule "subdomains/madhabits"]
	path = subdomains/madhabits
	url = git@bitbucket.org:superterran/madhabits.git
