<ul class="post-list">
    {% for post in site.posts %}
    <li>
        <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <a class="post-meta commentcount" href="{{ post.url | prepend: site.baseurl }}#disqus_thread">Comments</a>
        </h2>
        {% if page.showall == true %}
          {{ post.content }}
        {% else %}
          {{ post.excerpt }}
        {% endif %}
    </li>
    {% endfor %}
</ul>
