---
layout: default
title: demoland
main: true
---
{% for demo in site.pages %}
        {% if demo.tags contains 'demo' %}
                <div class="demo-item" style="background-image: url('/demos/assets/{{ demo.thumb }}')">
                        <a class="page-link" href="{{ demo.url | prepend: site.baseurl }}">{{ demo.title }}</a>
                </div>
        {% endif %}
{% endfor %}


<script type="text/javascript">

  dotcom.addEvent('demoland', function() {
    var cw = $('.demo-item').width();
    $('.demo-item').css({'height':(cw * .3) +'px'});



  });

</script>
