.showcase {

  margin: 0px auto;
  display: block;
  border: 0px;
}

.item {
  display: block;
  clear: both;
}

a.post-link {
  display: inline;
  float: left;
}

span.post-meta {
  margin-left: 10px;
  margin-right: 20px;
}

p.demo-description {
  text-align: center;
  padding: 10px;
}


// Headers
li {
  h2 {
    margin-bottom: 5px;
  }

  p {
    clear: both;
  }
}


div.hero {
  padding: 3px 0px 20px 0px;
}

.page-content code {
  padding: 3px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  display: block;
}

#disqus_thread {
  margin-top: 20px;
}

.demospace {
  height: 550px;
  width: 100%;
  // border: 1px solid red;
}

.demo-item {
  width: 100%;
  border: 2px solid lightgrey;
  float: left;
  height: auto;
  margin-bottom: 10px;
  position: relative;
  background-size: 100% auto;
  &:hover {
    opacity: .8;
  }
  a {
    color: lightgrey;
    font-size: 18px;
    font-weight: bold;
  }
  .page-link {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: block;
    background-color: rgba(0,0,0,.4);
    padding: 10px;

    &:hover {
      background-color: rgba(0,0,0,.6);
    }
  }
}
